@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'noto_sans';
  font-display: swap;
  src: url("./assets/fonts/NotoSans/NotoSans-VariableFont_wdth,wght.ttf") format('truetype');
}

html, #root, body {
  height: 100%;
}

body {
  font-size: 1.2rem;
  font-family: noto_sans;
  margin: 0;
  min-height: 100vh;
}
